# Emacs
emacs/.emacs.d/*
!emacs/.emacs.d/init.el
!emacs/.emacs.d/Cask
!emacs/.emacs.d/custom.el
!emacs/.emacs.d/configuration.org

# Neovim
nvim/.config/nvim/*
!nvim/.config/nvim/init.vim
!nvim/.config/nvim/min_init.vim
!nvim/.config/nvim/colors
!nvim/.config/nvim/ftplugin
!nvim/.config/nvim/templates
